.profile h1 {
    font-family: "Playfair Display", serif;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
}
.profile button{
    margin-right: 45%;
    margin-left: 45%;
    align-items: center;
}
.profile div.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile .react-pdf__Document {
    height: 900px;
}
.profile .react-pdf__Page__textContent.textLayer{
    display: none;
}
.profile .react-pdf__Page__annotations.annotationLayer{
    display: none;
}
.profile .react-pdf__Page {
    position: relative;
    overflow: hidden;
    width: 35%;
    height: 850px;
    margin-left: 32%;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.profile .react-pdf__Page:hover {
    transform: scale(1.5);
    
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}
.profile .react-pdf__Page__canvas{
    display: grid;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    outline: none;
    border: 2px solid #e6c55a;
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}